<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Scrape results</div>

                    <div class="card-body">
                        <label for="page-number">Page number</label>
                        <div class="input-group">

                            <input type="number" readonly class="form-control" id="page-number" v-model="page"
                                   aria-label="page number" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button :class="page < 2 ? 'btn btn-danger' : 'btn btn-info'" :disabled="page < 2"
                                        @click="prev" type="button">Prev
                                </button>
                                <button class="btn btn-info" type="button" @click="next">Next</button>
                            </div>
                        </div>
                        <div class="loader" v-if="showLoader"></div>

                        <div class="highlight" v-else>
                            <pre class="p-2 mt-2">
                                <code v-text="results"></code>
                            </pre>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from "axios"
  export default {
    mounted() {
      this.getPage(this.page)
    },
    data() {
      return {
        results: {},
        page: 1,
        showLoader: true,
        cache:[],
      };
    },
    methods: {
      next: function () {
        this.getPage(++this.page);
      },
      prev: function () {
        if (this.page === 1) {
          return;
        }
        this.getPage(--this.page);
      },
      fetch: function (page = 1) {
        this.showLoader = true;
        axios.get("/api/scrape?page=" + page).then(response => {
          this.showLoader = false;
          this.results = "\n" + JSON.stringify(response.data, null, 4).trim();
          this.cache[page] = this.results;
        });
      },
      getPage(page){
        if (this.cacheHas(page)){
          this.results = this.cache[page];
          return;
        }
        this.fetch(page)
      },
      cacheHas(page){
        return this.cache.hasOwnProperty(page);
      }
    }

  }
</script>
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #17a2b8;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 5em auto;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    code {
        color: #17a2b8;

    }
    pre{
        background: #f3f3f3;
    }
</style>